# Environment variables
.env
.env.*
.env.local

# Dependencies
node_modules/

# Build output
dist/
uploads/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS and Editor
.vscode/*
.idea/
.DS_Store
